/* Global styles */
:root {
    --pri-nutmeg: hsl(14, 45%, 36%);
    --pri-dk-rasp: hsl(332, 51%, 32%);
    --neu-white: hsl(0, 0%, 100%);
    --neu-rose-white: hsl(330, 100%, 98%);
    --neu-eggshell: hsl(30, 54%, 90%);
    --neu-lt-gry: hsl(30, 18%, 87%);
    --neu-wenge-brown: hsl(30, 10%, 34%);
    --neu-dk-charcoal: hsl(24, 5%, 18%);
}

body, h1, h2, h3, h4, h5, h6, p,
dl dd, blockquote, figure {
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Outfit';
    background: var(--neu-eggshell);
}

h1, h2 {
    font-family: 'Young Serif';
    font-weight: 400;
}

h1 {
    font-size: 2.25rem;
    line-height: 1.1;
    color: var(--neu-dk-charcoal);
}

h2 {
    font-size: 1.75rem;
    font-weight: 00;
    color: var(--pri-nutmeg);
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--pri-dk-rasp);
}

ul {
    padding: 0rem 1rem 0 1.5rem;
}

ol {
    padding: 0rem 1rem 0 1.5rem;
}

li {
    font-weight: 600;
    color: var(--pri-nutmeg) !important;
}

/* Mobile styles */
.recipe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: var(--neu-white);
}

.recipe-content {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}

.omelette {
    height: 10.5rem;
    width: 100%;
    object-fit: cover;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: .5rem;
    margin-bottom: 2.5rem;
}

.body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--neu-wenge-brown);
}

.prep-time {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem .5rem 1.5rem;
    background-color: var(--neu-rose-white);
    border-radius: .75rem;
    margin-bottom: 1.75rem;
}

.prep-items {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.li-item {
    position: relative;
    left: 1rem;
    align-items: center;
    color: var(--neu-wenge-brown);
}

.ingredients {
    margin-bottom: 1.5rem;
}

.ingredient-list {
    display: flex;
    flex-direction: column;
    gap: .65rem;
    margin-bottom: 2rem;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;             
    background-color: var(--neu-lt-gry);
    height: 1px;
}

.instructions {
    margin-bottom: 1.5rem;
}

.instr-list {
    display: flex;
    flex-direction: column;
    gap: .938rem;
    margin-bottom: 2rem;
}

.nutrition {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

table {
    width: 100%;
    color: var(--neu-wenge-brown);
}

td {
    padding: .75rem 2rem;
    border-bottom: 1px solid #ddd;
}

td.last {
    border: none;
}

.unit {
    font-weight: 600;
    color: var(--pri-nutmeg);
}


/* Desktop styles */
@media screen and (min-width: 720px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        min-height: 100svh;
    }

    .recipe {
        width: 656px;
        margin-top: 7.5rem;
        margin-bottom: 8rem;
        border-radius: 1.5rem;
        padding: 2.5rem 2.5rem 0 2.5rem;
    }

    .recipe-content {
        margin: 0;
    }

    .omelette {
        display: flex;
        height: 18.75rem;
        border-radius: .75rem;
        object-fit: cover;
        margin-bottom: .5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .body {
        line-height: 1.5;
    }

    .intro {
        margin-bottom: 2rem;
    }

    .ingredient-list {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-bottom: 2rem;
    }
}